* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, span, div, form, button {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #15033f, #150343, #150348, #14034c, #140351, #2c035a, #420263, #56006b, #810075, #ab007b, #d3007d, #fa037a);

}

button {
    border: 1px dashed;
    cursor: pointer;
}

nav {
    background-color: #14034947;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;

}

.nav-item {
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    text-shadow: 15px 13px 0px #7a7a7a, -2px -8px 2px rgb(233 228 223 / 0%);
}

#sign-out {
    padding: 10px 30px;
    font-size: 1em;
    background-color: #e0027b;
    color: white;
}

#sign-out:hover {
    box-shadow: 0px 0px 28px 7px #e0027b;
    background-color: #fdfafc;
    color: #e0027b;
}

.page-name {
    font-size: 1.5em;
    margin: 40px;
    font-family: monospace;
    color: white;
    text-shadow: 2px 2px 0 #19181a, 4px 4px 0 #9c9c9c, 2px 2px 2px rgb(136 90 108 / 4%);
}

.register-input, .notes-input {
    cursor: pointer;
    padding: 0.5vw;
}

.register-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    background: aliceblue;
    align-items: center;
    padding: 110px;
    margin-bottom: 10px;
}

.register-label {
    margin: 1vw;
    font-size: 2em;
    font-family: monospace;
}

.submit-button {
    background-color: rgb(169, 207, 240);
    border: 1px solid grey;
    border-radius: 50%;
    color: #343232;
    font-size: 1.5em;
    padding: 1vw;
}

.is-register {
    color: grey;
    margin: 1vw;
    font-size: 1.2em;
}

.limit-offset {
    align-self: center;
}

.limit-offset>h3 {
    color: white;
    margin-bottom: 20px;
}

#notes-container {
    background-color: #fbfdfe47;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.loading-string {
    padding: 20px;
    color: white;
}

.note-container, #note-container {
    background-color: #f0f8ff9c;
    padding: 50px;
    margin-bottom: 30px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    border: 5px double;
}

.note-container>span {
    padding: 1vw;
    word-wrap: break-word;
    text-decoration: underline;


}

.note-container>a {
    align-self: flex-end;
}

.options-button {
    font-size: 1em;
    font-family: monospace;
    padding: 0.5vw;
    border-radius: 50%;
    background-color: #00fff6b8;
}

.iscompleted {
    width: 20px;
    height: 20px;
    text-align: center;
}

.submit-button {
    align-self: center;
    color: white;
    background-image: linear-gradient(to top, #09306b, #0061a0, #0094c4, #00c7d3, #03f9d1);
}

#note-container {
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>span {
    font-size: 2em;
    padding: 0 0 50px;
    text-decoration: underline;
}


.button-container {
    align-self: center;
}

.button {
    padding: 15px;
    min-width: 8vw;
    font-size: 1em;
}

.edit-button {
    margin-right: 10px;
    background-image: linear-gradient(to top, #096b5a, #199261, #51b759, #94db41, #e5f903);
}

.edit-button:hover {
    box-shadow: 0px 0px 28px 7px #ffe604b3;

}

.delete-button {
    background-image: linear-gradient(to top, #eb0121, #f83e56, #fc6684, #f989aa, #f1aac8);
}

.delete-button:hover {
    box-shadow: 0px 0px 28px 7px #f32e60c5;

}

.mark {
    border: 1px solid;
    align-self: self-end;
    padding: 5px;
    cursor: pointer;
}

#note-data {
    align-items: center;
    align-self: center;
}

#note-data>textarea {
    margin-bottom: 10px;
    border: 3px double;
}

#note-data>button {
    padding: 10px 30px;
    background-image: linear-gradient(to top, #096b5a, #199261, #51b759, #94db41, #e5f903);
    font-size: 1em;
}

#note-data>button:hover {
    box-shadow: 0px 0px 28px 7px #04ff3ab3;
    background-color: white;
}

#delete-profile {
    align-self: center;
    font-size: 1.1em;
    padding: 15px 45px;
}